<div class="navbar">
    <div class="navbar-title">
        <img src="https://p7.hiclipart.com/preview/114/481/310/simple-plan-logo-graphic-designer-printing-blink-182.jpg" alt="">
        <a href="#"> UNI-TASK</a>
    </div>
    <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact Us</a>
            <a href="#">Clients</a>
    </div>
    <div class="iconsi">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
    </div>
</div>